.boards-gallery-item-container {
  display: flex;
  align-items: center;
  padding: 1rem;

  border: 4px solid var(--color-bg-dark);
  border-radius: 1rem;
  background: var(--color-bg);
}

.boards-gallery-item-container:hover {
  cursor: pointer;
  background: var(--color-bg-light);
}

.boards-gallery-item-container > span {
  font-weight: bold;
  margin-right: 1rem;
}

.boards-gallery-item-container > p {
  margin: 0;

  font-size: var(--text-size-sm);
  font-weight: 400;
  color: var(--color-text-muted);
  letter-spacing: 0.02rem;
}
