.filter-controls {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;

  margin: 1rem 1rem 0 0;
}

.filter-controls button {
  padding: 0.5rem 0.75rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  border: 1px solid var(--color-bg);
  border-top: 1px solid var(--color-highlight);
  border-radius: 1rem;

  color: var(--color-text, #111);
  font-weight: 600;

  background: var(--color-bg);
  box-shadow: var(--shadow-sm);
  cursor: pointer;

  transition: background 0.3s, color 0.3s;
}

.filter-controls button:hover {
  background: var(--color-bg-light);
}
