.grid-gallery-container {
  width: 100%;
  margin: 3rem 0;
}

.grid-gallery-container ul {
  width: 100%;

  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 0.5rem;

  list-style: none;

  &.bingo-board-layout {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: var(--font-primary);
}

.modal-content picture {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.modal-content picture img {
  width: 100%;
  height: auto;
  object-fit: cover;

  border-radius: 0.5rem;
  box-shadow: var(--shadow-md);
}
