.grid-gallery-container {
  width: 100%;
}

.grid-gallery-container ul {
  width: 100%;

  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 0.5rem;

  list-style: none;
}
