.grid-gallery-item-container {
  position: relative;
  width: 100%;
  height: 250px;

  border: 1px solid var(--color-grey);
  border-radius: 8px;

  border: 1px solid var(--color-bg);
  border-top: 1px solid var(--color-highlight);
  border-radius: 0.5rem;

  background: var(--gradient);
  box-shadow: var(--shadow-md);

  overflow: hidden;
  cursor: pointer;
  transition: background 1s, color 0.3s;
}

.grid-gallery-item-container:hover {
  background: var(--gradient-hover);
}

.grid-gallery-item-container > span {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  margin: auto;
  padding: 0 0.5rem;

  font-size: var(--text-size-sm);
  font-weight: 600;
  color: var(--color-text);
  text-wrap: balance;
  text-align: center;
}

.grid-gallery-item-container > picture {
  width: 100%;
  height: 100%;
}

.grid-gallery-item-container > picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
