.tasks-gallery-container {
  margin: 7rem 2rem 0 2rem;
}

.task-gallery-item {
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
  padding: 1.5rem 2rem 3rem 2rem;

  border: 2px solid var(--color-bg-dark);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: var(--color-bg);
}

.task-gallery-item h3 {
  margin: 0 0 1rem 0;

  font-size: var(--text-size-md);
  font-weight: 600;
  color: var(--color-text);
}

.task-gallery-item h3 span {
  float: right;
  font-size: var(--text-size-sm);
  font-weight: 400;
  color: var(--color-text-muted);
}

.task-photos {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.task-photos picture {
  width: 100px;
  height: 100px;

  border: 1px solid var(--color-grey);
  border-radius: 1rem;

  overflow: hidden;
}

.task-photos picture.active {
  width: 150px;
  height: 150px;
}

.task-photos picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
