---
import { actions } from "astro:actions";
import { getCollection } from "astro:content";
import GoBackButton from "../../../components/jurado/GoBackButton.astro";
import GoUpButton from "../../../components/jurado/GoUpButton.astro";
import GridGallery from "../../../components/jurado/GridGallery";
import { gridGalleryProps } from "../../../constants/jurado";
import BingoLayout from "../../../layouts/BingoLayout.astro";

const { id } = Astro.params;

const [task] = await getCollection(
  "mandatoryTasks",
  (task) => task.data.id === id,
);

const initialTaskWithPhoto = [];
const { data } = await Astro.callAction(actions.getTasksWithPhoto, {
  taskId: id,
});
if (data) initialTaskWithPhoto.push(...data.tasksWithPhoto);
---

<BingoLayout title={`Fotos por tarea - Jurado`} requiredOrientation="portrait">
  <GoBackButton backHref="/jurado/tasks" />

  <h1>{task.data.description}</h1>

  <GridGallery
    client:load
    initialTasksWithPhoto={initialTaskWithPhoto}
    {...gridGalleryProps}
    filters={{ taskId: id }}
  />

  <GoUpButton />
</BingoLayout>

<style>
  h1 {
    margin: 1.5rem 0;
    padding: 0 1.5rem;

    font-weight: 700;
    font-size: 3rem;
  }
</style>
