---
import PartyIcon from "./icons/Party";
import SignMessageIcon from "./icons/SignMessage";
import { PhotoTags } from "../../types";
---

<form>
  <div class="photo-tag-options">
    <label class="tag-option" for="tag-sign">
      <section>
        <SignMessageIcon size={60} />
        <input
          checked
          style="accent-color: var(--color-primary);"
          type="radio"
          name="tag"
          id="tag-sign"
          value={PhotoTags.SIGNATURES}
          required
        />
      </section>
      Cuadro de Firmas
    </label>

    <label class="tag-option" for="tag-guest">
      <section>
        <PartyIcon size={60} />
        <input
          style="accent-color: var(--color-secondary);"
          type="radio"
          name="tag"
          id="tag-guest"
          value={PhotoTags.PARTY}
          required
        />
      </section>
      Durante la Fiesta
    </label>
  </div>

  <div class="photo-message">
    <textarea
      name="message"
      rows="4"
      placeholder="Escribí un mensajito para los novios..."></textarea>
  </div>

  <div class="photo-upload">
    <input type="file" accept="image/*" />
    <div class="loader"></div>
  </div>

  <div class="button-container">
    <button type="submit">Enviar</button>
  </div>
</form>

<style>
  form {
    display: flex;
    flex-direction: column;

    width: fit-content;
    margin: 2rem auto;
    padding: 1.5rem;

    border-radius: 2rem;

    background: var(--color-bg);
    box-shadow: var(--shadow-md);
  }

  .photo-tag-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    margin: 0 0 2rem 0;

    width: 100%;
    height: 100%;
  }

  .tag-option {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 1.5rem;
    width: 100%;

    border-radius: 2rem;

    color: var(--color-text-muted);
    font-size: var(--text-size-sm);
    text-wrap: nowrap;

    background: var(--color-bg-light);
    box-shadow: var(--shadow-md);
  }

  .tag-option:has(input[type="radio"]:disabled) {
    opacity: 0.4;
    pointer-events: none;
  }

  .tag-option section {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
  }

  .tag-option section input[type="radio"] {
    transform: scale(1.4);
    accent-color: var(--color-accent);
  }
  .tag-option section input[type="radio"]:::before {
    margin-right: 0.5rem;
  }

  .photo-message {
    display: flex;
    width: 100%;
  }

  .photo-message textarea {
    flex-grow: 1;
    padding: 1rem;
    height: 4.75rem;

    border: 1px solid var(--color-border-muted);
    border-radius: 2rem;

    font-size: var(--text-size-md);
    color: var(--color-text);

    transition: all 0.4s ease-in-out;
    background: var(--color-bg-light);
    resize: none;
  }

  .photo-message textarea::placeholder {
    font-weight: 300;
  }

  .photo-message textarea.hidden {
    height: 0.01rem;
    padding: 0;
    opacity: 0;
    pointer-events: none;
  }

  .button-container {
    display: flex;
    width: 100%;
    margin: 2rem 0 0 0;
    justify-content: center;
  }

  .button-container button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 1rem;

    font-size: var(--text-size-md);
    font-weight: 600;
    color: var(--color-text);

    background: var(--color-primary);
    box-shadow: var(--shadow-sm);
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .button-container button.secondary {
    background: var(--color-secondary);
  }

  .button-container button:disabled {
    background: var(--color-bg-light);
    color: var(--color-text-muted);
    cursor: not-allowed;
    box-shadow: none;
  }
</style>

<script>
  import { PhotoTags } from "../../types";
  import {
    loadFromLocalStorage,
    saveToLocalStorage,
  } from "../../utils/localStorage";

  const $form = document.querySelector("form") as HTMLFormElement;
  const $radios = $form.querySelectorAll(
    "input[type='radio'][name='tag']",
  ) as NodeListOf<HTMLInputElement>;
  const $textarea = $form.querySelector(
    "textarea[name='message']",
  ) as HTMLTextAreaElement;
  const $button = $form.querySelector(
    "button[type='submit']",
  ) as HTMLButtonElement;

  $radios.forEach(($radio) => {
    $radio.addEventListener("change", () => {
      if ($radio.value === PhotoTags.SIGNATURES) {
        $textarea.classList.remove("hidden");
        $button.classList.remove("secondary");
      } else if ($radio.value === PhotoTags.PARTY) {
        $textarea.classList.add("hidden");
        $button.classList.add("secondary");
      }
    });
  });

  $form.addEventListener("submit", (event) => {
    $button.disabled = true;
    event.preventDefault();

    // TODO: Implementar la lógica de subida de foto

    $button.disabled = false;
    saveToLocalStorage("hasSentSignaturePhoto", "true");
    checkIfHasSendSignaturePhoto();
  });

  function checkIfHasSendSignaturePhoto() {
    const hasSentSignaturePhoto = Boolean(
      loadFromLocalStorage("hasSentSignaturePhoto"),
    );

    if (hasSentSignaturePhoto) {
      $radios.forEach(($radio, index) => {
        if ($radio.value === PhotoTags.SIGNATURES) {
          $radio.disabled = true;
          $radios.item(index + 1).checked = true;
          $textarea.classList.add("hidden");
          $button.classList.add("secondary");
        }
      });
    }
  }
  checkIfHasSendSignaturePhoto();
</script>
