---
import { actions } from "astro:actions";
import Spotlight from "../../components/photos/Spotlight.tsx";
import { layoutProps, spotlightProps } from "../../constants/photos";
import PhotosLayout from "../../layouts/PhotosLayout.astro";

interface Props {
  tag: string;
}

const { tag } = Astro.params;

if (!tag) {
  throw new Error("Tag de foto no proporcionado");
}

const initialPhotos = [];
const { data } = await Astro.callAction(actions.getPhotosByTag, {
  tag,
});
if (data) initialPhotos.push(...data.photos);
---

<PhotosLayout {...layoutProps}>
  <main>
    <section>
      <picture>
        <img src="/images/qr_photos.png" alt="Codigo QR para subir foto" />
      </picture>
      <picture>
        <img src="/images/qr_wifi.png" alt="Codigo QR para conectar a WiFi" />
      </picture>
    </section>

    <Spotlight
      {...spotlightProps}
      initialPhotos={initialPhotos}
      photoTag={tag}
      client:load
    />
  </main>
</PhotosLayout>

<style>
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 180px;

    margin: 0 1rem;
    padding: 1rem;
    gap: 0.5rem;

    border: 2px solid var(--color-bg);
    border-radius: 1rem;

    background: var(--color-bg);
    box-shadow: var(--shadow-md);
  }

  section picture {
    display: block;
    width: 100%;
    height: auto;
  }

  section picture img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }
</style>
