.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: background-color 0.3s ease;
  visibility: hidden;
  z-index: 1000;

  &.open {
    visibility: visible;
    background-color: rgba(0, 0, 0, 1);
  }
}

.modal-backdrop header {
  position: absolute;
  width: 100%;
  height: fit-content;

  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1002;
}

.modal-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
}

.modal-header-content button {
  margin: 0;
  padding: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 4rem;
  color: var(--color-bg-light);

  background: none;
  transition: background 0.2s ease;
  cursor: pointer;
}

.modal-header-content button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.modal-header-content h2 {
  flex: 1;
  margin: 0;
  padding: 0 1rem;

  text-align: left;
  font-size: var(--text-size-md);
  font-weight: 400;
  color: var(--color-bg-light);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-backdrop main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-backdrop main picture {
  margin: 1rem 0 0.5rem 0;
}

.modal-backdrop main picture img {
  width: 100%;
  height: auto;
  object-fit: cover;

  border-radius: 0.5rem;
  box-shadow: var(--shadow-md);
}

.modal-backdrop footer {
  position: absolute;
  bottom: -150px;
  width: 100%;
  height: calc(120px);
  padding: 0 0 0.5rem 0;

  display: flex;
  flex-direction: column;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  transition: bottom 0.3s ease;
  background-color: var(--color-bg);
  z-index: 1002;

  &.open {
    bottom: 0px;
  }
}

.modal-backdrop footer > p {
  margin: 0 1.5rem;
  padding: 1.5rem 0 1rem 0;

  text-align: left;
  font-size: var(--text-size-md);
  color: var(--color-text);
  font-weight: 400;

  border-bottom: 1px solid var(--color-text-muted);
}

.modal-backdrop footer button {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 100%;
  padding: 1rem 1.5rem;

  font-size: var(--text-size-md);
  font-weight: 500;
  color: var(--color-text);

  border: none;
  background: var(--color-bg);
  transition: background 0.2s ease;
}

.modal-backdrop footer button:hover {
  background: var(--color-bg-light);
}
