.board-container {
  width: 100%;
  margin: 2rem auto;

  text-align: center;
}

.board-container ul {
  width: 95%;
  padding: 0;
  margin: 0 auto;

  min-height: 460px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  list-style: none;
}

.board-info {
  margin: 1rem auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-info p {
  font-size: var(--text-size-sm);
  font-weight: 400;
  color: var(--color-text-muted);
}

.board-info p.animate {
  animation: textPulse 0.5s ease-in-out;
}

@keyframes textPulse {
  0% {
    font-size: var(--text-size-sm);
  }
  50% {
    font-size: calc(var(--text-size-sm) + 1px);
  }
  100% {
    font-size: var(--text-size-sm);
  }
}