.board-container {
  width: 100%;
  margin: 2rem auto;

  text-align: center;
}

.board-container ul {
  width: 95%;
  padding: 0;
  margin: 0 auto;

  min-height: 460px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  list-style: none;
}

.tasks-progress {
  margin: 1rem auto;
  width: 95%;
  text-align: right;

  font-size: var(--text-size-sm);
  font-weight: 400;
  color: var(--color-text-muted);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: var(--font-primary);
}

.modal-content > p {
  margin: 0;

  font-size: var(--text-size-md);
  text-wrap: balance;
  text-align: center;
}

.modal-content picture {
  margin: 1rem 0 0.5rem 0;
}

.modal-content picture img {
  width: 100%;
  height: auto;
  object-fit: cover;

  border-radius: 0.5rem;
  box-shadow: var(--shadow-md);
}

.task-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.task-actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 100%;
  padding: 0.7rem 1.2rem;

  font-size: var(--text-size-sm);
  font-weight: 600;
  color: var(--color-text);
  background: var(--color-bg-light);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  border: none;
  border-radius: 0.5rem;

  transition: transform 0.2s ease;
}

.task-actions button:hover {
  transform: scale(1.05);
}
