---

---

<div class="instructions-container">
  <h2>Instrucciones</h2>
  <p>
    Completa el tablero subiendo la foto para cada tarea realizada. ¡Diviértete!
  </p>
</div>

<style>
  .instructions-container {
    width: 100%;
    margin: 1rem auto 1rem auto;

    text-align: center;
  }

  .instructions-container h2 {
    margin: 0 0 0.5rem 0;

    font-size: var(--text-size-lg);
    color: var(--color-primary);
  }

  .instructions-container p {
    margin: 0 auto;
    font-size: var(--text-size-md);
    color: var(--color-dark);
    line-height: 1.5;
    letter-spacing: 0.02rem;

    max-width: 80%;
    text-wrap: balance;
  }
</style>
