---
interface Props {
  src: string;
}

const { src } = Astro.props;
---

<div class="bgm-container">
  <audio src={src} preload="auto" loop></audio>
  <button aria-label="Play background music"></button>
</div>

<style>
  .bgm-container {
    width: 100%;
    position: absolute;
    z-index: 10;
  }

  .bgm-container button {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-top: 0.5rem;

    background: var(--color-primary);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bgm-container button:hover {
    background: var(--color-secondary);
  }

  .bgm-container button::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid var(--color-light);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    margin-left: 2px;
  }
</style>

<script>
  const CONTAINER_HTML = document.querySelector(
    ".bgm-container",
  ) as HTMLDivElement;
  const AUDIO_HTML = document.querySelector(
    ".bgm-container audio",
  ) as HTMLAudioElement;
  const BUTTON_HTML = document.querySelector(
    ".bgm-container button",
  ) as HTMLButtonElement;

  document.addEventListener("DOMContentLoaded", () => {
    AUDIO_HTML.volume = 0.2;
    const didPlay = AUDIO_HTML.play();

    if (didPlay !== undefined) {
      didPlay
        .then(() => {
          // Automatic playback started!
        })
        .catch((error) => {
          // Show a UI element to let the user manually start playback.
          CONTAINER_HTML.style.display = "block";

          BUTTON_HTML.addEventListener("click", () => {
            AUDIO_HTML.play();
            BUTTON_HTML.style.display = "none";
          });
        });
    }
  });
</script>
