---
interface Props {
  date: Date;
}

const { date } = Astro.props;

const day = date.getDate().toString().padStart(2, "0");
const month = (date.getMonth() + 1).toString().padStart(2, "0");
const year = date.getFullYear().toString().slice(-2);
---

<div class="date-photo-container">
  <div class="date-photo-overlay"></div>

  <div class="date-photo" data-date="day">
    <p class="date-photo-text">{day}</p>
    <div class="date-photo-wrapper">
      <img src="/images/date_photo_1.jpg" alt="Foto con fecha 1" />
    </div>
  </div>
  <div class="date-photo" data-date="month">
    <p class="date-photo-text">{month}</p>
    <div class="date-photo-wrapper">
      <img src="/images/date_photo_2.jpg" alt="Foto con fecha 2" />
    </div>
  </div>
  <div class="date-photo" data-date="year">
    <p class="date-photo-text">{year}</p>
    <div class="date-photo-wrapper">
      <img src="/images/date_photo_3.jpg" alt="Foto con fecha 3" />
    </div>
  </div>
</div>

<style>
  /* MOBILE STYLES */
  .date-photo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 1rem auto;
    gap: 0.5rem;
  }

  .date-photo-overlay {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }

  .date-photo-overlay.active {
    display: block;
  }

  .date-photo {
    width: 28%;
    height: 100%;
    text-align: center;
  }

  .date-photo[data-date="month"] {
    margin-top: 3rem;
  }

  .date-photo[data-date="year"] {
    margin-top: 6rem;
  }

  .date-photo-text {
    margin: 0;
    font-size: var(--text-size-3xl);
    font-weight: 400;
    color: var(--color-text-dark);
  }

  .date-photo-wrapper {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 2;
  }

  .date-photo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    position: relative;

    filter: brightness(0.8);
    transition:
      transform 0.3s ease,
      filter 0.3s ease;

    z-index: 10;
    pointer-events: none;
  }

  .date-photo-wrapper img.active {
    position: fixed;
    transform: translate(-50%, -50%) scale(1.8);
    top: 50%;
    left: 50%;
    aspect-ratio: 5 / 7;

    width: 45%;
    height: auto;

    max-width: 90%;
    max-height: 90%;

    border-radius: 16px;
    box-shadow: 0 0 32px 8px rgba(0, 0, 0, 0.4);
    filter: brightness(1);
    z-index: 1001;

    pointer-events: none;
  }

  .date-photo[data-date="day"] .date-photo-wrapper img {
    object-position: 40% center;
  }

  .date-photo[data-date="month"] .date-photo-wrapper img {
    object-position: 50% center;
  }

  .date-photo[data-date="year"] .date-photo-wrapper img {
    object-position: 60% center;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const IMAGES_WRAPPERS_HTML = document.querySelectorAll(
      ".date-photo-wrapper",
    ) as NodeListOf<HTMLImageElement>;

    const OVERLAY_HTML = document.querySelector(
      ".date-photo-overlay",
    ) as HTMLDivElement;

    IMAGES_WRAPPERS_HTML.forEach((wrapper) => {
      wrapper.addEventListener("click", (e) => {
        e.stopPropagation();

        const img = wrapper.querySelector(
          ".date-photo-wrapper img",
        ) as HTMLImageElement;
        img.classList.add("active");

        OVERLAY_HTML.classList.add("active");
      });
    });

    OVERLAY_HTML.addEventListener("click", () => {
      IMAGES_WRAPPERS_HTML.forEach((wrapper) => {
        const img = wrapper.querySelector(
          ".date-photo-wrapper img",
        ) as HTMLImageElement;
        img.classList.remove("active");
      });
      OVERLAY_HTML.classList.remove("active");
    });
  });
</script>
