---
interface Props {
  date: Date;
}

const { date } = Astro.props;

const day = date.getDate().toString().padStart(2, "0");
const month = (date.getMonth() + 1).toString().padStart(2, "0");
const year = date.getFullYear().toString().slice(-2);
---

<div class="date-photo-container">
  <div class="date-photo-overlay"></div>

  <div class="date-photo" data-date="day">
    <p>{day}</p>
    <picture class="animation-heartbeat animation-order-1">
      <img src="/images/webp/date_photo_1.webp" alt="Foto con fecha 1" />
    </picture>
  </div>
  <div class="date-photo" data-date="month">
    <p>{month}</p>
    <picture class="animation-heartbeat animation-order-2">
      <img src="/images/webp/date_photo_2.webp" alt="Foto con fecha 2" />
    </picture>
  </div>
  <div class="date-photo" data-date="year">
    <p>{year}</p>
    <picture class="animation-heartbeat animation-order-3">
      <img src="/images/webp/date_photo_3.webp" alt="Foto con fecha 3" />
    </picture>
  </div>
</div>

<style>
  .date-photo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 1rem auto;
    gap: 0.5rem;
  }

  .date-photo-overlay {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }

  .date-photo-overlay.active {
    display: block;
  }

  .date-photo {
    width: 28%;
    height: 100%;
    text-align: center;
  }

  .date-photo[data-date="month"] {
    margin-top: 3rem;
  }

  .date-photo[data-date="year"] {
    margin-top: 6rem;
  }

  .date-photo p {
    margin: 0;
    font-size: var(--text-size-3xl);
    font-weight: 400;
    color: var(--color-dark);
  }

  .date-photo picture {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 2;
    position: relative;
    overflow: hidden;
  }

  .date-photo picture img {
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: inherit;

    filter: brightness(0.8);
    transition:
      transform 0.3s ease-in-out 0.2s,
      filter 0.3s ease-out;

    z-index: 10;
    pointer-events: none;
  }

  .date-photo:hover picture img {
    filter: brightness(0.6);
  }

  .date-photo picture img.active {
    position: fixed;
    margin: auto;

    top: 0;
    bottom: 0;
    right: 0;
    aspect-ratio: 5 / 7;

    width: 45%;
    height: auto;

    max-width: 90%;
    max-height: 90%;

    border-radius: 16px;
    box-shadow: 0 0 32px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.8);
    filter: brightness(1);
    z-index: 1001 !important;

    pointer-events: none;
  }

  .date-photo[data-date="day"] picture img {
    object-position: 40% center;
  }

  .date-photo[data-date="month"] picture img {
    object-position: 50% center;
  }

  .date-photo[data-date="year"] picture img {
    object-position: 60% center;
  }

  .animation-heartbeat {
    animation: heartbeat 5s ease-out infinite;
  }

  .animation-order-1 {
    animation-delay: 0s;
  }
  .animation-order-2 {
    animation-delay: 1s;
  }
  .animation-order-3 {
    animation-delay: 2s;
  }

  @keyframes heartbeat {
    0%,
    35%,
    50% {
      transform: scale(1);
    }
    7%,
    21% {
      transform: scale(1.01);
    }
    14% {
      transform: scale(0.99);
    }
  }
  @media (min-width: 576px) {
    .date-photo-container {
      gap: 0.8rem;
    }
  }

  @media (min-width: 1024px) {
    .date-photo-container {
      margin: 1.5rem auto;
      width: 80%;
      gap: 1rem;
    }

    .date-photo {
      width: 30%;
      cursor: pointer;
      position: relative;
    }

    .date-photo picture {
      aspect-ratio: 3/4;
    }
  }

  @media (min-width: 1200px) {
    .date-photo-container {
      margin: 2rem auto;
      width: 70%;
      gap: 1rem;
    }

    .date-photo {
      width: 60%;
      cursor: pointer;
      position: relative;
    }

    .date-photo p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-family: var(--font-secondary);
      color: var(--color-light);
      letter-spacing: 0.1rem;
      font-size: var(--text-size-3xl);

      transition: opacity 0.5s ease;
      opacity: 0;
    }

    .date-photo:hover p {
      opacity: 1;
      z-index: 12;
    }

    .date-photo picture {
      aspect-ratio: 2/3;
    }

    .date-photo:hover picture img {
      filter: brightness(0.5);
    }

    .date-photo picture img.active {
      transform: scale(1);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const $DATE_PHOTO_CONTAINER = document.querySelector(
      ".date-photo-container",
    ) as HTMLDivElement;
    const $PICTURES_HTML = $DATE_PHOTO_CONTAINER.querySelectorAll(
      "picture",
    ) as NodeListOf<HTMLImageElement>;

    const $OVERLAY_HTML = $DATE_PHOTO_CONTAINER.querySelector(
      ".date-photo-overlay",
    ) as HTMLDivElement;

    // Zoom In
    $PICTURES_HTML.forEach((picture) => {
      picture.addEventListener("click", (e) => {
        e.stopPropagation();

        const IMG_HTML = picture.querySelector("img") as HTMLImageElement;
        IMG_HTML.classList.add("active");

        $PICTURES_HTML.forEach((picture) => {
          picture.classList.remove("animation-heartbeat");
        });

        $OVERLAY_HTML.classList.add("active");
      });
    });

    // Zoom Out
    $OVERLAY_HTML.addEventListener("click", () => {
      $PICTURES_HTML.forEach((picture) => {
        const IMG_HTML = picture.querySelector("img") as HTMLImageElement;
        IMG_HTML.classList.remove("active");

        picture.classList.add("animation-heartbeat");
      });
      $OVERLAY_HTML.classList.remove("active");
    });
  });
</script>
