---
interface Props {
  message: string;
  colorsToAvoid: string[];
}

const { message, colorsToAvoid } = Astro.props;
---

<div class="dresscode-container">
  <h2>Vestimenta formal</h2>
  <p>{message}</p>

  <ul>
    <li style={`background:${colorsToAvoid[0]}`}></li>
    <li style={`background:${colorsToAvoid[1]}`}></li>
    <li style={`background:${colorsToAvoid[2]}`}></li>
  </ul>
</div>

<style>
  .dresscode-container {
    margin: 3rem auto 0 auto;
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
  }

  .dresscode-container > h2 {
    margin: 0 auto;

    font-size: var(--text-size-lg);
    font-weight: 600;
    color: var(--color-text-dark);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    max-width: 50%;
    text-wrap: balance;
  }

  .dresscode-container > p {
    margin: 1rem auto 0 auto;

    font-size: var(--text-size-md);
    font-weight: 400;
    color: var(--color-text-dark);

    max-width: 70%;
    text-wrap: balance;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .dresscode-container > ul {
    margin: 1.5rem auto 0 auto;
    padding: 0;

    display: inline-block;
    position: relative;

    width: 1px;
    height: 3rem;
    list-style: none;
  }

  .dresscode-container > ul li {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    z-index: 1;

    position: absolute;
  }

  .dresscode-container > ul li:nth-child(1) {
    left: -3.5rem;
    z-index: 1;
  }
  .dresscode-container > ul li:nth-child(2) {
    left: -1.5rem;
    z-index: 2;
  }
  .dresscode-container > ul li:nth-child(3) {
    left: 0.5rem;
    z-index: 3;
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
    .dresscode-container > ul li {
      width: 5rem;
      height: 5rem;
    }

    .dresscode-container > ul li:nth-child(1) {
      left: -6rem;
      z-index: 1;
    }
    .dresscode-container > ul li:nth-child(2) {
      left: -2.5rem;
      z-index: 2;
    }
    .dresscode-container > ul li:nth-child(3) {
      left: 1rem;
      z-index: 3;
    }
  }
</style>
