---
interface Props {
  message: string;
  couple: string;
}

const { message, couple } = Astro.props;
---

<div class="footer-container">
  <h2>{message}</h2>
  <p>{couple}</p>
</div>

<style>
  .footer-container {
    width: 100%;
    margin: 4rem auto;

    text-align: center;
  }

  .footer-container > h2 {
    margin: 0 auto;
    color: var(--color-text-dark);
    font-family: var(--font-secondary);

    font-size: 3rem;
    font-weight: 500;
  }

  .footer-container > p {
    margin: 0.5rem 0 0 0;

    color: var(--color-text-dark);
    font-family: var(--font-secondary);

    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
  }
</style>
