---
interface Props {
  message: string;
}

const { message } = Astro.props;
---

<div class="message-container">
  <p class="message-text">
    {message}
  </p>
  <h2 class="message-subtitle">¡Estás invitado!</h2>
</div>

<style>
  .message-container {
    width: 100%;
    margin: 2rem auto;

    text-align: center;
  }

  .message-subtitle {
    margin: 0;

    color: var(--color-dark);
    font-family: var(--font-family-secondary);

    font-size: 2rem;
    font-weight: 500;
  }

  .message-text {
    margin: 0 auto;
    color: var(--color-dark);

    text-transform: uppercase;
    line-height: 1.5;
    font-size: 1rem;

    max-width: 70%;
    text-wrap: balance;
  }
</style>
