---
interface Props {
  message: string;
  footer: string;
}

const { message, footer } = Astro.props;
---

<div class="message-container">
  <p>{message}</p>
  <h2>{footer}</h2>
</div>

<style>
  /* MOBILE STYLES */
  .message-container {
    width: 100%;
    margin: 2rem auto;

    text-align: center;
  }

  .message-container > p {
    margin: 0 auto;
    color: var(--color-dark);

    line-height: 1.5;
    font-size: var(--text-size-md);
    letter-spacing: 0.02rem;

    max-width: 80%;
    text-wrap: balance;
  }

  .message-container > h2 {
    margin: 1rem 0 0 0;

    color: var(--color-dark);
    font-family: var(--font-secondary);

    font-size: var(--text-size-xl);
    font-weight: 500;
    letter-spacing: 0.02rem;
  }
</style>
