---
interface Props {
  message: string;
  footer: string;
}

const { message, footer } = Astro.props;
---

<div class="message-container">
  <p>{message}</p>
  <h2>{footer}</h2>
</div>

<style>
  .message-container {
    width: 100%;
    margin: 2rem auto;

    text-align: center;
    letter-spacing: 0.02em;
  }

  .message-container > p {
    margin: 0 auto;
    color: var(--color-text-dark);

    text-transform: uppercase;
    line-height: 1.5;
    font-size: 1rem;

    max-width: 80%;
    text-wrap: balance;
  }

  .message-container > h2 {
    margin: 1rem 0 0 0;

    color: var(--color-text-dark);
    font-family: var(--font-secondary);

    font-size: 2rem;
    font-weight: 500;
  }
</style>
