---
interface Props {
  quote: string;
  footer: string;
}

const { quote, footer } = Astro.props;
---

<div class="quote-container">
  <p>{quote}</p>
  <h2>{footer}</h2>
</div>

<style>
  .quote-container {
    width: 100%;
    margin: 0;
    padding: 0.5rem 0;

    text-align: center;
    background-color: var(--color-dark);
    letter-spacing: 0.02em;
  }

  .quote-container > p {
    margin: 1rem auto;

    color: var(--color-light);

    line-height: 1.5;
    font-size: 1.2rem;
    font-style: italic;

    max-width: 80%;
    text-wrap: pretty;
  }

  .quote-container > h2 {
    margin: 1rem auto;

    letter-spacing: 0.05em;
    color: var(--color-light);
    font-size: var(--text-size-sm);
    font-weight: 600;
  }

  @media (min-width: 576px) {
    .quote-container > p {
      font-size: 1.5rem;
      max-width: 80%;
    }
  }


  @media (min-width: 1200px) {
    .quote-container {
      padding: 1rem 0;
    }

    .quote-container > p {
      font-size: 2.5rem;
      max-width: 78%;
    }
  }

  @media (min-width: 1440px) {
    .quote-container > h2 {
      font-size: 1.8rem;
    }
  }
</style>
