.spotlight-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100dvh;
  margin: 0;
}

.spotlight-container picture {
  width: 100%;
  height: 20dvh;
  opacity: 0;

  animation: appear 8s linear infinite;
}

@keyframes appear {
  15% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.8;
    height: 60dvh;
  }
  90% {
    height: 70dvh;
  }
  100% {
    opacity: 0;
    height: 80dvh;
  }
}

/* TODO: add different animation for appear location and use a random on JS */

.spotlight-container picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.spotlight-container p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--color-text-muted);
  font-family: var(--font-family-secondary);
  text-align: center;
}
