form {
  display: flex;
  flex-direction: column;

  width: fit-content;
  margin: 1rem auto 2rem auto;
  padding: 1.5rem;

  border-radius: 2rem;

  background: var(--color-bg);
  transition: background 0.4s ease;
  box-shadow: var(--shadow-md);
}

.photo-tag-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  margin: 0 0 2rem 0;

  width: 100%;
  height: 100%;
}

.tag-option {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 1.5rem;
  width: 100%;

  border-radius: 2rem;

  color: var(--color-text-muted);
  font-size: var(--text-size-sm);
  text-wrap: nowrap;

  background: var(--color-bg-light);
  transition: background 0.4s ease;
  box-shadow: var(--shadow-md);
}

.tag-option:has(input[type="radio"]:disabled) {
  opacity: 0.4;
  pointer-events: none;
}

.tag-option section {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}

.tag-option section input[type="radio"] {
  transform: scale(1.4);
}
.tag-option section input[type="radio"]::before {
  margin-right: 0.5rem;
}

.photo-message {
  display: flex;
  width: 100%;
}

.photo-message textarea {
  flex-grow: 1;
  padding: 1rem;
  height: 4.75rem;

  border: 1px solid var(--color-border-muted);
  border-radius: 2rem;

  font-size: var(--text-size-md);
  color: var(--color-text);

  overflow-y: hidden;
  transition: all 0.4s ease-in-out;
  background: var(--color-bg-light);
  transition: all 0.4s ease;
  resize: none;
}

.photo-message textarea::placeholder {
  font-weight: 300;
}

.photo-message textarea.hidden {
  height: 0.01rem;
  padding: 0;
  opacity: 0;
  pointer-events: none;
}

.photo-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  margin: 2rem 0 0 0;
  width: 100%;
  height: 12rem;

  border: 1px solid var(--color-border);
  border-top: 1px solid var(--color-highlight);
  border-radius: 0.5rem;

  background: var(--gradient);
  box-shadow: var(--shadow-md);

  cursor: pointer;
  transition: background 0.4s ease, color 0.3s;
}

.photo-upload > span {
  padding: 0 0.5rem;

  font-size: var(--text-size-sm);
  font-weight: 600;

  color: var(--color-text);
  text-align: center;
}

.photo-upload > input {
  display: none;
}

.photo-upload > picture {
  width: 100%;
  height: 100%;
}

.photo-upload > picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.loader-overlay > .loader {
  border: 4px solid var(--color-bg);
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  animation: spin 1s linear infinite;
}

.button-container {
  display: flex;
  width: 100%;
  margin: 2rem 0 0 0;
  justify-content: center;
}

.button-container button {
  width: 100%;

  padding: 0.8rem 2rem;
  border: none;
  border-radius: 1rem;

  font-size: var(--text-size-md);
  font-weight: 600;
  color: var(--color-text);

  background: var(--color-primary);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
  transition: all 0.5s ease;
}

.button-container button.secondary {
  background: var(--color-secondary);
}

.button-container button:disabled {
  background: var(--color-bg-light);
  color: var(--color-text-muted);
  cursor: not-allowed;
  box-shadow: none;
}
