---
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="format-detection" content="telephone=no" />
    <title>{title}</title>

    <SpeedInsights />
    <Analytics />
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Aesthetic";
    src: url("/fonts/Aesthetic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Helvetica Neue";
    src: url("/fonts/HelveticaNeueThin.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("/fonts/HelveticaNeueRoman.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Helvetica Neue";
    src: url("/fonts/HelveticaNeueBlack.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  :root {
    /* FONTS FAMILY */
    --font-primary: "Helvetica Neue", Arial, sans-serif;
    --font-secondary: "Aesthetic", cursive;

    /* COLORS */
    --color-primary: #cbad8d;
    --color-secondary: #a48374;
    --color-tertiary: #d1c7bd;
    --color-quaternary: #d1c7bd;

    --color-light: #f1ede6;
    --color-dark: #3a2d28;

    --color-text-light: #f1ede6;
    --color-text-dark: #3a2d28;

    --bg-color: var(--color-tertiary);

    /* TEXT SIZE */
    --text-size-xs: 0.6rem;
    --text-size-sm: 0.8rem;
    --text-size-md: 1rem;
    --text-size-lg: 1.5rem;
    --text-size-xl: 2rem;
    --text-size-2xl: 3rem;
    --text-size-3xl: 4rem;
  }

  html {
    font-family: var(--font-primary);
    background: var(--bg-color);
    color: var(--color-text-dark);
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    max-width: 100dvw;
    min-height: 100dvh;
  }

  /* TABLET STYLES */
  @media (min-width: 768px) {
    :root {
      /* TEXT SIZE */
      --text-size-sm: 1rem;
      --text-size-md: 1.2rem;
      --text-size-lg: 1.8rem;
      --text-size-xl: 2.5rem;
      --text-size-2xl: 4rem;
      --text-size-3xl: 5rem;
    }
  }

  /* DESKTOP STYLES */
  @media (min-width: 1024px) {
    :root {
      /* TEXT SIZE */
      --text-size-sm: 1.2rem;
      --text-size-md: 1.5rem;
      --text-size-lg: 2.25rem;
      --text-size-xl: 3rem;
      --text-size-2xl: 4.5rem;
      --text-size-3xl: 6rem;
    }
  }

  /* LARGE DESKTOP STYLES */
  @media (min-width: 1440px) {
    :root {
      /* TEXT SIZE */
      --text-size-sm: 1.5rem;
      --text-size-md: 1.8rem;
      --text-size-lg: 2.5rem;
      --text-size-xl: 3.5rem;
      --text-size-2xl: 5rem;
      --text-size-3xl: 7rem;
    }
  }
</style>
