---
import { actions } from "astro:actions";
import GoBackButton from "../../../components/jurado/GoBackButton.astro";
import GoUpButton from "../../../components/jurado/GoUpButton.astro";
import GridGallery from "../../../components/jurado/GridGallery";
import { gridGalleryProps } from "../../../constants/jurado";
import BingoLayout from "../../../layouts/BingoLayout.astro";

const { id } = Astro.params;

const initialPhotos = [];
const { data } = await Astro.callAction(actions.getPhotos, { userId: id });
if (data) initialPhotos.push(...data.photos);
---

<BingoLayout
  title={`Fotos por tablero - Jurado`}
  requiredOrientation="portrait"
>
  <GoBackButton backHref="/jurado/boards" />

  <h1>Tablero de {id}</h1>

  <GridGallery
    client:load
    initialPhotos={initialPhotos}
    {...gridGalleryProps}
    filters={{ userId: id }}
  />

  <GoUpButton />
</BingoLayout>

<style></style>
