---
import { actions } from "astro:actions";
import GoBackButton from "../../../components/jurado/GoBackButton.astro";
import GoUpButton from "../../../components/jurado/GoUpButton.astro";
import GridGallery from "../../../components/jurado/GridGallery";
import { gridGalleryProps } from "../../../constants/jurado";
import BingoLayout from "../../../layouts/BingoLayout.astro";

const { id } = Astro.params;

const [userPromise, tasksPromise] = await Promise.all([
  Astro.callAction(actions.getUserById, { id: id ?? "" }),
  Astro.callAction(actions.getTasksWithPhoto, { userId: id ?? "" }),
]);
if (userPromise.error) {
  Astro.redirect("/jurado/boards");
}

const initialTaskWithPhoto = [];
if (tasksPromise.data)
  initialTaskWithPhoto.push(...tasksPromise.data.tasksWithPhoto);
---

<BingoLayout
  title={`Fotos por tablero - Jurado`}
  requiredOrientation="portrait"
>
  <GoBackButton backHref="/jurado/boards" />

  <h1>Tablero de {userPromise.data?.user.name}</h1>

  <GridGallery
    client:load
    initialTasksWithPhoto={initialTaskWithPhoto}
    {...gridGalleryProps}
    filters={{ userId: id }}
    bingoBoardLayout={true}
  />

  <GoUpButton />
</BingoLayout>

<style>
  h1 {
    margin-top: auto;
    text-align: center;
  }
</style>
